.navbar {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
.navbar h1 {
  width: 150px;
  color: #2c2c51;
  cursor: pointer;
}
.navbar-menu {
  display: flex;
  list-style: none;
  cursor: pointer;
  gap: 20px;
  color: #495574;
  font-size: 18px;
}
.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
}
.navbar-search-icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  gap: 40px;
}
.navbar-search-icon .dot{
position: absolute;
min-width: 10px;
min-height: 10px;
background-color: tomato;
border-radius: 5px;
top: -8px;
right: -8px;
}
.navbar button {
  background: transparent;
  font-size: 16px;
  color: #2c2c51;
  border: 1px solid #2c2c51;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s ease;
  cursor: pointer;
}
.navbar button:hover{
background-color: #2c2c5127;
}
.navbar .active{
padding-bottom: 2px;
border-bottom: 2px solid #49557e;
color: tomato;
}
@media (max-width:1050px){
  .navbar h1{
  width: 120px;
  }
  .navbar-menu{
  gap: 20px;
  font-size: 17px;
  }
  .navbar-right{
  gap: 30px;
  }
  .navbar-right img{
  width: 22px;
  }
  .navbar-right button{
  padding: 8px 25px;
  }
}
@media (max-width:900px){

  .navbar-menu{
    gap: 17px;
    font-size: 15px;
  }
  .navbar-right{
  gap: 20px;
  }
  .navbar-right img{
  width: 20px;
  }
  .navbar-right button{
  padding: 7px 30px;
  font-size: 15px;
  }
}
@media (max-width:750px){
  .navbar h1{
  font-size: 30px;
  }
  .navbar-menu{
 display: none;
  }
  .navbar-right{
  gap: 30px;
  }
  .navbar-right img{
  width: 22px;
  }
  .navbar-right button{
  padding: 8px 25px;
  }
}