.navbar {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
.navbar h1 {
  width: 150px;
  color: #2c2c51;
}
.navbar-menu {
  display: flex;
  list-style: none;
  cursor: pointer;
  gap: 20px;
  color: #495574;
  font-size: 18px;
}
.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
}
.navbar-search-icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  gap: 40px;
}
.navbar-search-icon .dot{
position: absolute;
min-width: 10px;
min-height: 10px;
background-color: tomato;
border-radius: 5px;
top: -8px;
right: -8px;
}
.navbar button {
  background: transparent;
  font-size: 16px;
  color: #2c2c51;
  border: 1px solid #2c2c51;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s ease;
  cursor: pointer;
}
.navbar button:hover{
background-color: #fff4f2;
}
.navbar .active{
padding-bottom: 2px;
border-bottom: 2px solid #49557e;
color: tomato;
}