 .menuBlock{
      background-color: #FFFFFF;
      width:50%;
 }
 .menuBlock:hover{
     background-color: #DBDBDB;
 }
 .menulabel{
    text-decoration:none !important;
 cursor :pointer;
 }
 .menulabel:hover{
         text-decoration:none !important;
         cursor:pointer;
 }
 .imgaemiddlerow{
    background-image: url("../menuimages/rowbg.jpg") ;
    background-repeat:repeat;
     font-family: Trebuchet MS;
    font-weight: bold;
     font-size: 9pt;
     color: #a87e2a;
    width: 320px;
     text-decoration:none;
}
.imgaeheadererow{
    font-family: Trebuchet MS;
    font-weight: bold;
    font-size: 11pt;
    color: Tomato;
    width: 320px;
     text-decoration:none;
}
.imgaefooterrow{
    font-family: Trebuchet MS;
    font-weight: bold;
    font-size: 9pt;
    color: #454545;
    width: 320px;
     text-decoration:none;
}
.imgaerow{
    font-family: Trebuchet MS;
    font-weight: bold;
    font-size: 9pt;
    color: #454545;
    width: 75px;
    text-decoration:none;
}
.menusub
{
    font-family: Trebuchet MS;
    font-weight: bold;
    font-size: 10pt;
    color:#064F43;
    width: 320px;
    text-decoration:none;
}
.menusubimg
{
    width: 30px;
    text-decoration:none;
}
.menusubtable
{
border: steelblue;
    border-style: solid;
      border-radius: 8px;
}

.CSSTableGenerator {
	margin:0px;padding:0px;
	width:430px;
	box-shadow: 10px 10px 5px #888888;
	/*box-shadow: 10px 10px 3px #888888;*/
	border:1px solid #898181;
	
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px;
	
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
	
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
	
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
}.CSSTableGenerator table{
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;

	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px;
}.CSSTableGenerator tr:hover td{
	background-color:#ffffff;
		

}
.CSSTableGenerator td{
	vertical-align:middle;
	background:-o-linear-gradient(bottom, #ede9e6 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ede9e6), color-stop(1, #ffffff) ); 
	background:-moz-linear-gradient( center top, #ede9e6 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ede9e6", endColorstr="#ffffff");	background: -o-linear-gradient(top,#ede9e6,ffffff);

	background-color:#ede9e6;

	/*border:1px solid #898181;*/
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:1px;
	font-size:11px;
	font-family:Trebuchet MS;
	/*font-weight:bold;*/
        /*color:#3d090f;*/
        color:Green;
	height:20px;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
	background:-o-linear-gradient(bottom, #f7f4f2 5%, #D7D7D7 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f7f4f2), color-stop(1, #D7D7D7) );
	background:-moz-linear-gradient( center top, #f7f4f2 5%, #D7D7D7 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f4f2", endColorstr="#D7D7D7");	background: -o-linear-gradient(top,#f7f4f2,D7D7D7);

	background-color:#f7f4f2;
	border:0px solid #898181;
	text-align:left;
	/*border-width:0px 0px 1px 1px;*/
	font-size:13px;
        
	font-family:Trebuchet MS;
	font-weight:bold;
	color:#2A0020;
	/*color:#0A3621;A1081C 0A301A*/
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #f7f4f2 5%, #D7D7D7 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f7f4f2), color-stop(1, #D7D7D7) );
	background:-moz-linear-gradient( center top, #f7f4f2 5%, #D7D7D7 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f4f2", endColorstr="#D7D7D7");	background: -o-linear-gradient(top,#f7f4f2,D7D7D7);

	background-color:#f7f4f2;
}
.CSSTableGenerator tr:first-child td:first-child{
	/*border-width:0px 0px 1px 0px;*/
}
.CSSTableGenerator tr:first-child td:last-child{
	/*border-width:0px 0px 1px 1px;*/
}
.CSSTableGenerator tr:hover td
{
 color:Blue;
}

.CSSTableGenerator tr:hover td{
	background-color:#ffffff;
}

.cssmenuhr
{
    border:none;
    color:#0A3621;
    background-color:#0A3621;
    height:2px;
}
.cssmenuhead
{
    font-size:14px;
	font-family:Trebuchet MS;
	font-weight:bold;
	 color:#CB0551;/*#0A3621;*/
}

.CSSTableGenerator1 {
	margin:0px;padding:0px;
	width:430px;
	box-shadow: 10px 10px 5px #ab7171;
	/*box-shadow: 10px 10px 3px #888888;*/
	border:1px solid #898181;
	
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px;
	
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
	
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
	
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
}.CSSTableGenerator1 table{
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;

	margin:0px;padding:0px;
}.CSSTableGenerator1 tr:last-child td:last-child {
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
}
.CSSTableGenerator1 table tr:first-child td:first-child {
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
}
.CSSTableGenerator1 table tr:first-child td:last-child {
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
}.CSSTableGenerator1 tr:last-child td:first-child{
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px;
}.CSSTableGenerator1 tr:hover td{
	background-color:#ffffff;
		

}
.CSSTableGenerator1 td{
	vertical-align:middle;
	background:-o-linear-gradient(bottom, #ede9e6 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ede9e6), color-stop(1, #ffffff) ); 
	background:-moz-linear-gradient( center top, #ede9e6 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ede9e6", endColorstr="#ffffff");	background: -o-linear-gradient(top,#ede9e6,ffffff);

	/*background-color:#ede9e6;*/
	background-color:#ede9e6;

	/*border:1px solid #898181;*/
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:1px;
	font-size:11px;
	font-family:Trebuchet MS;
	/*font-weight:bold;*/
        /*color:#3d090f;*/
        color:Green;
	height:20px;
}.CSSTableGenerator1 tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator1 tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator1 tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator1 tr:first-child td{
	background:-o-linear-gradient(bottom, #f7f4f2 5%, #D7D7D7 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f7f4f2), color-stop(1, #D7D7D7) );
	background:-moz-linear-gradient( center top, #f7f4f2 5%, #D7D7D7 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f4f2", endColorstr="#D7D7D7");	background: -o-linear-gradient(top,#f7f4f2,D7D7D7);

	background-color:#f7f4f2;
	border:0px solid #898181;
	text-align:left;
	/*border-width:0px 0px 1px 1px;*/
	font-size:13px;
        
	font-family:Trebuchet MS;
	font-weight:bold;
	color:#2A0020;
	/*color:#0A3621;A1081C 0A301A*/
}
.CSSTableGenerator1 tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #f7f4f2 5%, #D7D7D7 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f7f4f2), color-stop(1, #D7D7D7) );
	background:-moz-linear-gradient( center top, #f7f4f2 5%, #D7D7D7 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f4f2", endColorstr="#D7D7D7");	background: -o-linear-gradient(top,#f7f4f2,D7D7D7);

	background-color:#f7f4f2;
}
.CSSTableGenerator1 tr:first-child td:first-child{
	/*border-width:0px 0px 1px 0px;*/
}
.CSSTableGenerator1 tr:first-child td:last-child{
	/*border-width:0px 0px 1px 1px;*/
}
.CSSTableGenerator1 tr:hover td
{
 color:Blue;
}

.CSSTableGenerator1 tr:hover td{
	background-color:#ffffff;
}