/*@charset "utf-8";*/
/* CSS Document */

/* These styles just pretty up the page a bit. */
body {
   font: 12px, Arial, Helvetica, sans-serif;
    }
#wrap {
   font-size:10px;
   width: 500px;
   padding: 20px;
   margin: 0 auto; 
   background-color: #fff;
   position: relative; }

/* These styles create the dropdown menus. */
#navbar {
   margin: 0;
   padding: 0;
   height: 1em;
   width:900px;
   font-family:Trebuchet MS;
   font-weight:bold;
  
  /* font-family:Meera;*/
   font-size:13px;
   }
#navbar li {
   list-style: none;
   float: left; 

  /* color:#646060;*/
  color:#000429
  
   }
#navbar li a {
   display: block;
   padding: 5px 8px;
   text-decoration: none;
   color:#000429; }
#navbar li ul {
   display: none; 
   width: 13em; /* Width to help Opera out */
/*   background-color: #646060;*/
       background-color: #F5DA81;

   z-index:2;
   color:Black;
   }
#navbar li:hover ul, #navbar li.hover ul {
   display: block;
   position: absolute;
   margin: 0;
   padding: 0;
    }
#navbar li:hover li, #navbar li.hover li {
   float: none;
    }
#navbar li:hover li a, #navbar li.hover li a {
  /* background-color: #646060;*/
  background-color:#F2F5A9;/*#F2F5A9; *//*#DFDFDF;*/
   border-bottom: 1px solid #fff;
   color: #040000; }
#navbar li li a:hover {
  /* background-color: #CC3333;*/
  background-color: #A39B60;/*#DBA901;*//*#B8B6B6;*/
  color:#1E7254;/*#958534;*/
  /*color: #6A1ADA;*/ }
  #navbar li a:hover {
  /* background-color: #CC3333;*/
 /* background-color: #B8B6B6;*/
  color:#1E7254;
  /*color: #6A1ADA;*/ }

ul.tabs
{
	color:Red;
}
ul.tabs li
{
	color:Red;
}
ul.tabs li a
{
	color:Blue;
	text-decoration:none;
}
ul.tabs li:hover a
{
	color:Blue;
}