.mGrid
{
	width:auto;
	background-color:#FFFFFF;
     border:0;
    
}
.mGrid td
{
	padding:1px;
	/*color:#23241C;*/
	font-family:AnjaliOldLipi;
	/*font-weight:bold;*/
	border:solid 1px #CECEF6;
	vertical-align:middle;
    padding: 0 0 0 5px;
    height:25px;
    background-color:#F7F6F3;
}
.mGrid th
{
	/*padding: 4px 2px;*/
	/*color:#5882FA;*/
/*	color:#000066;*//*5882FA;*/

/*	font-family:AnjaliOldLipi;*/
/*	background-color:#DDDDDD;*//*#DDDDDD;*/
	background:#FFFFFF url(../images/bg2.gif) repeat;
	/*border-color:White;*/
	border:solid 1px #CECEF6;
	height:20px;
	color:#1E7254;
}
/*.mGrid .headleft
{
background-image:url('../images/tableimage/nw.gif');
background-repeat:no-repeat;
background-position:top left;
border-left:0;
border-top:0
}
.mGrid .headright
{
background-image:url('../images/tableimage/ne.gif');
background-repeat:no-repeat;
background-position:top right;
border-right:0;
border-top:0;
}
.mGrid .footerleft
{
background-image:url('../images/tableimage/botleft.png');
background-repeat:no-repeat;
background-position:bottom left;
border:0;
}
.mGrid .footerright
{
background-image:url('../images/tableimage/botright.png');
background-repeat:no-repeat;
background-position:bottom right;
border:0;
}*/
/*.mGrid .footer
{
	background-color:#e8edff;
	border:0;
}*/

.mGrid tr:hover td
{
	background-color:#EBDEB9;
}
.mGrid .alt {/* background-color:#F7F8E0;*//*#F7F8E0*//*#F5EFFB*/}

.cssHeadGridEng
{
    font-family:Trebuchet MS;
    /*color:#008B8B ;*/
   /* color:#F4B154;*/
   /* color:#040212;*/
   color:#1E7254;
    font-weight:bolder;
	font-size:9pt;
}
.cssHeadGridMal
{
    font-family:AnjaliOldLipi;
  color:#1E7254;
    font-weight:bold;
	font-size:9pt
}
.cssGridRowEng
{
      font-family:Trebuchet MS;
      font-weight:normal;
      font-size:9pt;
 /*  color:#008B8B;*/
 color:#1c051c;
}
.cssGridRowMal
{
      font-family:AnjaliOldLipi;
      font-weight:normal;
      font-size:9pt; 
      /* color:#008B8B;120b38*/
      color:#260026;
}
.cssGridLink
{
          font-family:Trebuchet MS;
      font-weight:normal;
      font-size:9pt;
         color:#008B8B;
         text-decoration:none;
}
cssGridLink:hover
{
    color:Blue;
}
.cssButtongdadd
{
    background:#FFFFFF url(../images/bgButton.png) repeat;
   /* background: url("../images/Actions-list-add-icon.png") no-repeat 5px 50%;*/
    text-align:right;
    color:#400000;
    width:50px;
/* padding:5px 5px 5px 20px;
text-align:left;*/
}   
.cssGridCell
{
    color:#cc0033;
    font-weight:bold;
    font-family:Trebuchet MS;
}
.cssGridDupRow
{
    background-color:Red;
}
.csstotal
{
    font-family:Trebuchet MS;
    font-weight:bold;
    color:Red;
   background:#000000;
}

.headerTextdemand
{
    writing-mode: tb-rl;

filter: fliph() flipV();
  display:block;
height:128px;
width:128px;
vertical-align:bottom;
-webkit-transform: rotate(-90deg); 
-moz-transform: rotate(-90deg); 
-o-transform: rotate(-90deg); 
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
  /*  writing-mode: tb-rl;

filter: fliph() flipV();*/
/*display:block;
height:128px;
width:128px;
vertical-align:bottom;
-webkit-transform: rotate(-90deg); 
-moz-transform: rotate(-90deg); 
-o-transform: rotate(-90deg); 
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); */

.vertical-text {
	transform: rotate(90deg);
	transform-origin: left top 0;
}
.tGrid
{
	width:auto;
	background-color:#FFFFFF;
     border:0;
    
}
.tGrid td
{
	padding:1px;
	font-family:AnjaliOldLipi;
	border:solid 1px #CECEF6;
	vertical-align:middle;
    padding: 0 0 0 0;
    height:25px;
    background-color:#F7F6F3;
}
.tGrid th
{
	background:#FFFFFF url(../images/bg2.gif) repeat;
	border:solid 1px #CECEF6;
	height:20px;
	color:#1E7254;
}
.tGrid tr:hover td
{
	background-color:#EBDEB9;
}
