.cssgdTable
{

	margin:1px 7px 7px 7px;
  
}
#rounded-corner
{
	font-family:Trebuchet MS;
	font-size: 12px;
	width: 600px;
	margin-top:5px;
	margin-left:10px;
	margin-bottom:5px;
	text-align: left;
	border-collapse: collapse;
	
}
#rounded-corner thead th.rounded-company
{
	/*background: #b9c9fe url('../images/tableimage/left.png') left -1px no-repeat;*/
	background: #b9c9fe url('../images/tableimage/left.png') left -1px no-repeat;
}
#rounded-corner thead th.rounded-q4
{
	background: #b9c9fe url('../images/tableimage/right.png') right -1px no-repeat;
}
#rounded-corner th
{
	padding: 6px;
	font-weight: normal;
	font-size: 10px;
	color: #039;
	/*background: #b9c9fe;*/
	background: #b9c9fe;
}
#rounded-corner td
{
	padding: 4px;
	/*background: #e8edff;*/
	background: #DDDDDD;
	border-top: 1px solid #fff;
	color: #669;
}
#rounded-corner tfoot td.rounded-foot-left
{
	/*background: #e8edff url('../images/tableimage/botleft.png') left bottom no-repeat;*/
	background: #e8edff url('../images/tableimage/botleft.png') left bottom no-repeat;
	text-align:center;
}
#rounded-corner tfoot td.rounded-foot-right
{
	background: #e8edff url('../images/tableimage/botright.png') right bottom no-repeat;
}
#rounded-corner tbody tr:hover td
{
	background: #d0dafd;
}

.cssTableFileDet
{
	/*background-color:#E8ECD2;*/
	background-color:#d4d2cd;
	margin-top:2px;
	margin-bottom:5px;
}
.cssTableSelform2calc
{
    background-color: papayawhip;
    background-image: none;
    border-bottom: navy thin groove;
    border-left: navy thin groove;
    padding-bottom: 0px;
    margin: 1px;
    padding-left: 0px;
    padding-right: 0px;
    border-top: navy thin groove;
    border-right: navy thin groove;
    padding-top: 0px;
    border-collapse: separate;
    table-layout: auto;
    cursor: crosshair;
}
.cssTableSelform2calc tr
{
    
}